# Core functionality - changes here should be rare!
/src/app.py                   @dchristlieb
/src/backend/database.py      @dchristlieb
/src/backend/routers/auth.py  @dchristlieb

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dchristlieb
